body{
    background-color: aqua;
}
.container{
    width: 1140px;
    padding: 50px 0;
    margin: 0 auto;
}
.heading{
    font-size: 50px;
    text-align: center;
}
.input{
    padding: 10px 40px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.form{
    padding-left: 34%;
    padding-bottom: 50px;
    padding-top: 30px;
}
.button{
    padding: 10px 40px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.list__item{
    padding: 50px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #fff;
    border: 3px solid rgb(245, 242, 242);
}
.list__item:hover{
    box-shadow: 10px 10px 25px  rgb(131, 129, 129);
}
.header{
    font-size: 30px;
}
.header__text{
    font-size: 40px;
}


@media (max-width: 800px){
    .container{
        width: 700px;
    }
    .list{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    .form{
        padding-left: 25%;
    }
    .list__item{
        margin-bottom: 60px;
    }
    .list__nav{
        padding-left: 30%;
        padding-top: 40px;
    }
    .header{
        font-size: 60px;
    }
    .header__text{
        font-size: 80px;
    }
    img{
        width: 100px;
        height: 100px;
        margin-left: 40px;
    }
    .input{
        padding: 20px 100px;
        display: block;
        margin-bottom: 50px;
    }
    .button{
        padding: 10px 140px;
        font-size: 30px;
        color: #fff;
        border: none;
        background-color: rgb(173, 179, 179);
    }
}


@media (max-width: 500px){
    .container{
        width: 350px;
    }
    .heading{
        font-size: 30px;
    }
    .list{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .form{
        padding-left: 15%;
    }
    .input{
        padding: 10px 60px;
    }
    .button{
        font-size: 20px;
        padding: 10px 35px;
        margin-left: 20%;
    }
    .list__nav{
        padding-left: 25%;
    }
    .header{
        font-size: 30px;
    }
    .header__text{
        font-size: 40px;
    }
    img{
        margin-left: 0;
    }
}
